{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "rules": {
      "semi": [2, "always"],
      "react/jsx-props-no-spreading": [{
        "html": "ignore"
      }]
    }
}