{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "prettier"
    ],
    "rules": {
      "semi": [2, "always"],
      "react/jsx-props-no-spreading": [{
        "html": "ignore"
      }],
      "prettier/prettier": ["error"]
    }
}